@font-face {
    font-family: "TommySans";
    src: url("https://github.com/votommy/TommySans/blob/main/WOFFs/TommySans.woff") format('woff'),
         url("/fonts/TommySans.woff") format('woff'); /*If web-hosted font doesn't work, use the on-board one*/
}
@font-face {
    font-family: "TommySans";
    src: url("https://github.com/votommy/TommySans/blob/main/WOFFs/TommySansBold.woff") format('woff'),
         url("/fonts/TommySansBold.woff") format('woff'); /*If web-hosted font doesn't work, use the on-board one*/
    font-weight: bold;
}
@font-face {
    font-family: "Century_Gothic";
    src: url("/fonts/CenturyGothic.woff") format('woff');
}
@font-face {
    font-family: "Century_Gothic";
    src: url("/fonts/CenturyGothicBold.woff") format('woff');
    font-weight: bold;
}
@font-face {
    font-family: "Century_Gothic";
    src: url("/fonts/CenturyGothicBoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Century_Gothic";
    src: url("/fonts/CenturyGothicItalic.woff") format('woff');
    font-style: italic;
}

html {
    height: 100vh;
    background-color: #FEFFEB;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100%;
    height:100%;
}

html, body {
    font-family: "TommySans", "Century_Gothic";
    color: #474B3A;
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#FIRE_Logo {
    display: block;
    margin: 1rem auto 0 auto;
    width: 10%;
}

#title {
    font-size: 1.5rem;
    color: #008000;
    margin-bottom: 1rem;
    text-align: center;
}

.container {
    margin: 0 20%;
}

@media (max-width: 1300px) {
    .container {
        margin: 0 10%;
    }
}
@media (max-width: 800px) {
    .container {
        margin: 0 1%;
    }
}
@media (orientation: portrait) {
    .container {
        margin: 0 1%;
    }
}

.heading {
    color: #474B3A;
    display: block;
    text-align: center;
    font-weight: normal;
}

.h1 {
    font-size: 2rem;
    color: #474B3A;
}
.h2 {
    font-size: 1.3rem;
}

.blurBox {
    background-color: #5F6156;
    background-color: #00200030;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    min-width: 70%;
    padding: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 40px;
}

hr {
    border-top: 1px #474B3A;
    border-style: solid none none none;
    margin-top: 1rem;
}

/*Hide the spin buttons*/
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input[type=number] { /*for FireFox*/
  -moz-appearance: textfield;
}

input {
    background-color: #474B3A;
    color: #CED5BF;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding-left: 1rem;
    border: 0;
}
input:focus {
    outline-width: 0;
}
input::placeholder {
    color: #CED5BFAA;
}

#labelFront {
    font-size: 1.5rem;
    margin-right: .5rem;
}

#infoIcon {
    background-color: #474B3A;
    color: #CED5BF;
    padding: 0 .35rem;
    margin-right: .5rem;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    font-family:monospace;
}

.info {
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
}
.info:hover {
    cursor: pointer;
}
.info:hover #infoIcon {
    background-color: #303328;
}
.tooltip {
    visibility: hidden;
    border-radius: 0px 1rem 1rem 1rem;
    box-shadow: 0 0 1rem #00000099;
    padding: .5rem;
    background-color: #474B3A;
    position: absolute;
    font-size: 1rem;
    color: #CED5BF;
    min-width: 13rem;
    z-index: 99;
}
.infoSpending:hover .tooltipSpending {
    visibility: visible;
}
.infoInvestment:hover .tooltipInvestment {
    visibility: visible;
}
.infoAnnualContribution:hover .tooltipAnnualContribution {
    visibility: visible;
}
.infoReturnRate:hover .tooltipReturnRate {
    visibility: visible;
}
.infoInflationRate:hover .tooltipInflationRate {
    visibility: visible;
}

#button {
    font-size: 1.5rem;
    background-color: #474B3A;
    color: #CED5BF;
    border-radius: 2rem;
    padding: .5rem 1rem;
    border: 0;
}
#button:hover {
    background-color: #303328;
    cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px;
  text-align: left;
  padding: .5rem;
}

tr:nth-child(odd) {
  background-color: #00000015;
}

footer {
    font-size: 1rem;
    padding: 2rem 0;
    border-top: 1px dashed #008000;
    color: #008000;
    text-align: center;
}